body{
    background-color: #000000;
    padding: 0;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 650px;
    

    background: linear-gradient(127.6deg, #D4DB58 43.83%, #71752F 71.75%);
    box-shadow: 0px 10px 40px 10px rgba(0, 0, 0, 0.25);

}
.lets_cook{
    /* LETS COOK NOW! */

/*position: absolute;
width: 302px;
height: 130px;
left: 160px;
top: 102px;*/


    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
    height: 100%

    
    
}
.lets_cook h1{
  

    /*position: absolute;
    width: 302px;
    height: 130px;
    left: 160px;
    top: 102px;*/

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    
    line-height: 61px;
    
    

    color: #46B970;


}
.lets_cook p{
    /* На нашому сайті зібрано багато рецептів навіть для тих хто не вміє готувати */

    
   
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
    


    color: #FFFFFF;


}
.lets_cook h3{
    /* Чому б тобі не спробувати? */

    

    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    
    color: #7F7F7F;


}

.banner_img{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.banner_img div{
    background-color: black;
    /*box-shadow: 0 0 100px 0 black;*/
    filter: blur(30px);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    width: 90%;
    position:relative;
    right: 23px;
    z-index: 1;
}
.banner_img img{
    position: relative;
    top:90px;
    z-index: 2;
    transition-property: top;
    transition-duration: 0.2s;
    width: 625px;
}
.banner_img img:hover{
    transition-property: top;
    transition-duration: 0.2s;
    top: 80px;
}
main{
    display: flex;
    flex-direction: row;
    padding: 33px;
    background-color: #E9E9E9;
    justify-content: space-between;
    background-attachment: local;
}
.filters_search_div{
    display: flex;
    flex-direction: column;
    width: 439px;
}
.filters_div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(180deg, #F4FBEF 0%, #B8EF8E 100%);
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.25);
    border-radius: 42px;
    padding-bottom: 30px;
    margin-top: 20px;

}
.filters_div h3{
    /* Фільтри */

   
    width: 129px;
    height: 55px;
    

    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;

    color: #9B9B9B;


}
.filter{ 
    width: 270px;
    height: 38px;
    margin-bottom: 20px;
}
.filter label{
    

    width: 181px;
    height: 33px;
    

    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
   

    color: #9B9B9B;
}
.filter input{
    width: 38px;
    height: 38px;
    background: #E9E9E9;
    border: 1px solid #919191;
    border-radius: 50%;
    position: relative;
    top: 10px;
    transition-property: transform;
    transition-duration: 0.2s;
}
.filter input:hover{
    transition-property: transform;
    transition-duration: 0.2s;
    transform: scale(1.1);
}
.search_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.search_menu input{
    /* Rectangle 2 */

   
    width: 337px;
    height: 62px;
    

    background: #ECFFE9;
    border: 1px solid #C7C7C7;
    border-radius: 27px;
    font-size: 20px;

}
.search_menu button{
    /* Ellipse 2 */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63px;
    height: 63px;
    

    background: #ECFFE9;
    border: 1px solid #C7C7C7;
    border-radius: 25px;
     transition-property: background-color, transform;
    transition-duration: 0.3s;

}
.search_menu button:hover{
    transition-property: background-color, transform;
    transition-duration: 0.3s;
    background-color: #f1fdef;
    transform:scale(1.1)
}
.search_menu button img{
    width: 70%;
    height: 70%;
}
.dish_cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 942px;

}
.recept_card{
    width: 218px;
    height: 311px;
    background: linear-gradient(180deg, #A3CFAD 54.35%, #718C78 100%);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
    transition-property: box-shadow, transform;
    transition-duration: 0.5s;
}
.recept_card:hover{
    transition-property: box-shadow, transform;
    transition-duration: 0.5s;
    box-shadow:  0px 0px 10px 5px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    transform: scale(0.95);
}
.recept_card img{
    height: 40%
}
.recept_card h3{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;


}

.recept_card button{
   
    width: 190px;
    height: 55px;
    background: #FFF5AC;
    border-radius: 10px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 549;
    font-size: 20px;
    line-height: 24px;
    color: #969696;
    transition-property: background-color, transform;
    transition-duration: 0.4s;
    
}
.recept_card button:hover{
    transition-property: background-color, transform;
    transition-duration: 0.4s;
    background-color: #f8f1be;
    transform:scale(1.1)
}
footer{
    

   
    height: 251px;
    

    background: #D9D9D9;
    box-shadow: 0px -10px 40px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    justify-content: center;

}
footer p{
    /* Чекаешь на нові рецепти? Їх не буде */

   
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 420;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #777777;
    font-variation-settings: 'slnt' 0;
}
.recept_page{
    background: linear-gradient(214.01deg, #EBFFC6 -0.46%, #999999 79.85%);
    display: none;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top:20px;


}
.name{
    display: flex;
    flex-direction: row;
    gap:10px;
    justify-content: space-around;
    
}
.name img{
    
    height: 500px;
    transition-property: transform;
    transition-duration: 0.3s;

}
.name img:hover{
    transition-property: transform;
    transition-duration: 0.3s;
    transform: translateY(10px)
}
.name h1{
    /* БУРГЕР */

    

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 140px;
    line-height: 169px;
    

    color: #FFFFFF;
}
.recept{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 90px;
}
.recept h1{




font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 80px;
line-height: 97px;
display: flex;
align-items: center;

color: #FFFFFF;


}
.recept h2{
    

    
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 73px;
   

    color: #FFFFFF;


}
.recept p{
    

   
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    
    border-radius: 20px;
    color: #FFE8BD;
    max-width: 720px;
    min-width: 300px;
    
    background-color: rgba(97, 97, 97, 0.2);
    backdrop-filter: blur(20px);
}
.mark{
    

    
    width: 483px;
    height: 218px;
    

    background: #D9D9D9;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.25);
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.btns{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.btns button{
    


    width: 147px;
    height: 58px;


    background: #FFFFFF;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;

    

    

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;

    color: #000000;
    transition-property: transform;
    transition-duration: 0.3s;
}
.btns button:hover{
    transition-property: transform;
    transition-duration: 0.3s;
    transform: scale(1.2);
}
.mark h2{
    /* Чи сподобалось вам? */


    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
   

    color: #000000;


}
.recept_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.back_btn{
    /* Rectangle 9 */


    width: 303px;
    height: 113px;


    background: #D9D9D9;
    border-radius: 27px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border: none;
    font-size: 40px;
    
    transition-property: transform;
    transition-duration: 0.3s;
    

}
.back_btn:hover{
    transition-property: transform;
    transition-duration: 0.3s;
    transform: scale(1.1);
}

.like_button{
    width: 303px;
    height: 113px;
    background: #D9D9D9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border: none;
    font-size: 40px;
    border-radius: 27px;
    transition-property: transform;
    transition-duration: 0.3s;
    
}
.like_button:hover{
    transition-property: transform;
    transition-duration: 0.3s;
    transform: scale(1.1);
}
.like_recepts_div{
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #e6e35b 54.35%, #787b43 100%);
    border-radius: 30px;
    justify-content: center;
    margin-top: 20px;
    
    align-items: center;
    padding-bottom: 20px;
}
.like_recepts_div h3{
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    line-height: 39px;
    color: #777777;
}
.liked_card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    
    align-items: center;
    border: none;
    border-radius: 10px;
    justify-content: space-around;
    margin-top: 15px

}
.liked_card div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.liked_card div img{
    height: 40px;
}
.liked_card div h3{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.liked_card button{
    background: #FFF5AC;
    border-radius: 10px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 549;
    font-size: 20px;
    line-height: 24px;
    color: #969696;
    width: 40%;
    height: 40px;
    margin-bottom: 15px;
}